@import '../../../../fonts/index.css';

.typography {
  margin: 0;
  padding: 4px;
}

.typography_xs {
  font-size: 12px;
  line-height: 16px;
}

.typography_s {
  font-size: 14px;
  line-height: 14px;
}

.typography_l {
  font-size: 36px;
  line-height: 36px;
}

.typography_light {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}

.typography_mono {
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
  font-weight: 600;
}

.typography_handwriting {
  font-family: 'Pacifico', cursive;
}

.link {
  color: #00a4df;
  text-decoration: underline;
}
