@font-face {
  font-family: 'Roboto Mono Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Mono Regular'),
    url('RobotoMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Mono Light';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Mono Light'), url('RobotoMono-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Mono Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Mono Bold'), url('RobotoMono-Bold.woff') format('woff');
}
