.traceroute {
  padding: 16px 24px;
}

.traceroute__item {
  padding-left: 0px;
  padding-bottom: 16px;
}

.traceroute__nested {
  padding-left: 8px;
}

.traceroute__country-item_flagged {
  position: relative;
  padding-left: 48px;
}
.traceroute__country-item::before {
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  content: attr(data-flag);
  font-size: 36px;
  line-height: 36px;
}
